@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.header {
  padding: 32px 0px 32px;
  background: rgb(37, 55, 70);
}

@media (max-width: 800px) {
  .header {
    padding: 16px;
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

p {
  margin-block: 8px 8px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .info__container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.header__logo {
  font-size: 2.6em;
  color: white;
  padding: 8px 8px;
}

.header__logo p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.menu {
  margin: 0 0 0 32px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  align-self: flex-end;
}

.menu__area {
  list-style: none;
}

.menu__area li {
  display: inline-block;
  font-weight: bold;
  padding: 0px 8px;
}

.menu__area li a {
  color: white;
  text-decoration-line: none;
}

.menu__area li a:hover{
  font-size: 1.3em;
  text-shadow: 0 0 8px white;
}

.header__text {
  color: white;
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
}

.header__caption {
  color: rgb(89, 125, 117);
  font-size: 2em;
  margin: 52px 0 20px 0;
  text-align: center;
}

.header__button {
  margin: 12px 0px;
  text-transform: uppercase;
  font-size: 0.8em;
  border: solid 1px white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  padding: 20px 24px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
  background-color: #ffffff;
  color: rgb(37, 55, 70);
}

.info {
  background: #ffffff;
  color: grey;
}

@media (max-width: 800px) {
  .info {
    padding: 16px;
  }
}

.info__container {
  margin: 24px 0;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.info__container__card {
  padding: 0 12px;
}

.info__container img {
  width: 240px;
  height: 180px;
  border-radius: 4px;
}

.footer {
  background: rgb(37, 55, 70);
  padding: 24px 0px 200px 0px;
}

@media (max-width: 800px) {
  .footer {
    padding: 24px 4px 200px 12px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
}

.menu--footer {
  font-weight: 100;
  text-transform: capitalize;
  font-size: 0.6;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--blue {
  color: rgb(37, 55, 70);
}

.text--green {
  color: rgb(89, 125, 117);
}

.text--bold {
  font-weight: bold;
}
.text--sizesmaller {
  font-size: 0.6em;
}

.text--sizesmall {
  font-size: 0.9em;
}

.text--sizemedium {
  font-size: 1.2em;
}

.text--sizebig {
  font-size: 1.6em;
}
