@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.header {
  padding: 32px 0px 32px;
  background: rgb(37, 55, 70);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0;
}

p {
  margin-block: 12px 12px;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .container {
    flex-flow: column;
  }
}

/* kako mogu bez ovoga gore flex-flow column */

.header__caption {
  text-transform: uppercase;
  font-size: 2.6em;
  color: white;
  padding: 8px 8px;
  margin: 0 32px 0;
}

.header__caption p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.menu {
  margin: 0 0 0 32px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  align-self: flex-end;
}

.menu-area {
  list-style: none;
}

.menu-area li {
  display: inline-block;
  font-weight: bold;
  padding: 0px 4px;
}

.menu-area li a {
  color: white;
  text-decoration-line: none;
}

.hero {
  color: white;
  text-align: center;
  margin: 32px 0 0;
}

.hero__caption {
  color: rgb(89, 125, 117);
  font-size: 2em;
}

button {
  margin: 12px 0px;
  text-transform: uppercase;
  font-size: 0.8em;
  border: solid 1px white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  padding: 20px 24px;
}

.info {
  background: white;
  padding: 40px 40px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.info__container {
  padding: 20px 20px;
  max-width: 260px;
}

.info__container img {
  width: 260px;
  height: 180px;
  border-radius: 4px;
}

.footer {
  display: flex;
  justify-content: center;
  background: rgb(37, 55, 70);
  padding: 24px 0px 200px 0px;
}
.footer .container {
  gap: 0 256px;
}
.text--uppercase {
  text-transform: uppercase;
}

.text--blue {
  color: rgb(37, 55, 70);
}

.text--green {
  color: rgb(89, 125, 117);
}

.text--bold {
  font-weight: bold;
}

.text--size3 {
  font-size: 0.9em;
}

.text--size2 {
  font-size: 1.2em;
}

.text--size1 {
  font-size: 1.6em;
}
